<!DOCTYPE html>

<html>
    <head>
        <title>My Library Manager</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="/css/partials.css" rel="stylesheet">
    </head>
    
    <body>

        