<% include ../partials/header%>

<link href="/css/new.css" rel="stylesheet">

<div class="container">
    <h1>"<%= book.title %>" </h1>
    
    <form action="/books/<%= book._id %>/comments" method="POST">
        <div class="form-group">
            <label>Comments</label><br>
            <textarea class="form-control" name="comment[text]" placeholder="Text"></textarea>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="comment[user]" placeholder="User">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    <div id="comment-cancel">
        <a href="/books/<%= book._id %>"> Cancel </a>
    </div>
   
</div>

<% include ../partials/footer %>
